<!DOCTYPE html>
<html ng-app="portfolioApp">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thiago Sciotta</title>
    <link rel="stylesheet" href="../node_modules/angular/angular-csp.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/all.css">

    <script src="app/modernizr.custom.js"></script>
</head>
<body ng-cloak ng-controller="PortfolioController" ng-class="{ 'show-menu': showMenu }" id="body">
<button class="menu-button" ng-click="toggleMenu()"></button>
<div id="pt-main" class="pt-perspective">
    <div class="pt-page pt-page-1">

        <div class="menu-wrap" click-outside="closeMenu()" outside-if-not="menu-button">
            <div class="menu-list" du-scroll-container="content-wrap">
                <nav class="cl-effect-5 menu">
                    <a href="#sobre" du-smooth-scroll>
                        <span data-hover="Home">Home</span></a>
                    <a href="#grid3d" du-smooth-scroll>
                        <span data-hover="{{ 'WORKS' | translate }}">{{ 'WORKS' | translate }}</span>
                    </a>
                    <a href="#info" du-smooth-scroll>
                        <span data-hover="Info">{{ 'INFO' | translate }}</span>
                    </a>
                    <a href="#projects" du-smooth-scroll>
                        <span data-hover="{{ 'PROJECTS' | translate }}">{{ 'PROJECTS' | translate }}</span>
                    </a>
                    <a id="iterateEffects">
                        <span data-hover="{{ 'BLOG' | translate }}">{{ 'BLOG' | translate }}</span></a>
                    <a href="#contato" du-smooth-scroll>
                        <span data-hover="{{ 'CONTACT' | translate }}">{{ 'CONTACT' | translate }}</span></a>
                </nav>
            </div>
        </div>
        <div class="content-wrap" id="content-wrap">
            <div id="allpage">
                <div id="ajax-modal" class="modal hide fade" data-width="760"></div>
                <div id="sobre">
                    <svg id="bigHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewbox="0 0 100 100" preserveaspectratio="none">
                        <path d="M0 100 C40 0 60 0 100 100 Z"></path>
                    </svg>
                    <section class="col-2 color">
                        <div class="column"><span class="icon icon-avatar"></span></div>
                        <div class="column text">
                            <h2>{{ 'MY_NAME' | translate }}</h2>
                            <p ng-bind-html="'MY_DESCRIPTION' | translate"></p>

                            <nav class="cl-effect-10 main-buttons">
                                <a href="http://thiagog3.github.io/Curriculum" target="_blank" data-hover="MEU CURRÍCULO"><span>MEU CURRÍCULO</span></a>
                                <a href="#" onclick="scrollPage('grid3d', 100)" data-hover="{{ 'WORKS' | translate }}"><span>{{ 'WORKS' | translate }}</span></a>
                            </nav>

                        </div>
                    </section>
                    <svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewbox="0 0 100 100" preserveaspectratio="none">
                        <path id="trianglePath1" d="M0 0 L50 100 L100 0 Z"></path>
                        <path id="trianglePath2" d="M50 100 L100 40 L100 0 Z"></path>
                    </svg>
                    <section class="grid3d vertical ss-style-invertedrounded" id="grid3d">
                        <div>
                            <div class="section-title" style="padding-bottom: 80px">
                                <div class="centered">
                                    <div class="col-md-8 col-md-offset-2">
                                        <h2 style="text-align: center">{{ 'MY_DRIBBBLE_JOBS' | translate }}</h2>
                                        <p style="text-align: center">Confira abaixo onde apresento alguns trabalhos de
                                            <br><strong>usabilidade</strong> e <strong>design de aplicativos.</strong>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-wrap">
                                <div class="grid">
                                    <figure class="effect-goliath" ng-repeat="shot in shots">
                                        <a ng-href="{{shot.html_url}}" target="_blank">
                                            <img ng-src="{{shot.images.normal}}" alt="{{shot.title}}">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <nav class="cl-effect-10">
                                <a href="https://dribbble.com/thiagosciotta" target="_blank" data-hover="Meu dribbble"><span><i class="fa fa-dribbble"></i> Meu dribbble</span></a>
                            </nav>
                        </div>
                    </section>
                    <section class="col-2 color" id="info" style="padding-top: 6em">
                        <div class="section-title" style="padding-bottom: 80px">
                            <div class="container">
                                <div class="row centered">
                                    <div class="col-md-8 col-md-offset-2">
                                        <h2 style="text-align: center">Um pouco de informação...</h2>
                                        <p style="text-align: center">Além de trabalhar com usabilidade, também sou <strong>desenvolvedor</strong>.
                                            <br>Abaixo algumas informções sobre mim.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="max-width: 980px; margin: 0 auto">
                            <div class="column">
                                <div class="panel">
             <meta charset="UTF-8">                       <div class="header"><img src="img/profile.svg" width="150" height="150">
                                        <h3>Sobre mim</h3></div>
                                    <div class="panel-content">
                                        <p>Busco encontrar a forma perfeita de tornar uma solução tecnológica em algo que traga valor e praticidade à vida das pessoas.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="panel">
                                    <div class="header"><img src="img/code.svg" width="150" height="150">
                                        <h3>Tecnologias</h3></div>
                                    <div class="panel-content">
                                        <p>Desenvolvimento WEB utilizando a plataforma <strong>ASP.NET</strong> para o back-end e <strong>HTML5</strong>, <strong>jQuery</strong> e <strong>AngularJS</strong> para o front-end.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="column">
                                    <div class="panel">
                                        <div class="header"><img src="img/books.svg" width="150" height="150">
                                            <h3>Estudos</h3></div>
                                        <div class="panel-content">
                                            <p>Busco conhecimento a partir de experiências e certificações. Sou MCP (<strong>Microsoft Certified Professional</strong>) em desenvolvimento WEB.</p>
                                        </div>
                               </div>
                                </div>
                                <div class="column">
                                    <div class="panel">
                                        <div class="header"><img src="img/trophy.svg" width="150" height="150">
                                            <h3>Experiências</h3></div>
                                        <div class="panel-content">
                                            <p>Metodologia ágil como o <strong>Scrum</strong> e <strong>Kanban</strong>, versionamento através do <strong>Git</strong> e <strong>SVN</strong> bem como <strong>unit-tests</strong> e <strong>system-tests</strong>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewbox="0 0 100 100" preserveaspectratio="none">
                        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
                    </svg>
                    <section class="col-2" id="projects">
                        <div class="column text section-title">
                            <h2>Outros projetos</h2>
                            <p>Participo de outros projetos abertos com amigos e na comunidade web. Acesse meu perfil no <span class="tooltip tooltip-turnright"><span class="tooltip-item">Github</span><span class="tooltip-content"><strong>[spir·it·u·al]</strong> affecting the human spirit or soul as opposed to material or physical things</span></span> e no <span class="tooltip tooltip-turnleft"><span class="tooltip-item">Google code</span><span class="tooltip-content"><strong>[corpse]</strong> dead body, body, carcass, skeleton, remains, mortal remains, rotten bacon</span></span>.</p>
                            <nav class="cl-effect-10"><a href="https://github.com/thiagog3" target="_blank" data-hover="GITHUB"><span>github</span></a> <a href="https://code.google.com/u/117480364192217516966/" target="_blank" data-hover="GOOGLE CODE"><span>google code</span></a></nav>
                        </div>
                        <div class="column"><span class="icon fa-github-alt"></span></div>
                    </section>
                    <section id="contato" class="ss-style-doublediagonal">
                        <div class="section-title" style="padding: 40px">
                            <div class="centered">
                                <div class="col-md-8 col-md-offset-2">
                                    <h2 style="text-align: center">Fale comigo!</h2>
                                    <p style="text-align: center">Sinta-se à vontade, vamos trocar experiências, sugestões.
                                        <br>Em breve entrarei em contato.</p>
                                </div>
                            </div>
                        </div>
                        <div class="contact-items">
                            <a><i class="fa fa-3x fa-facebook-square"></i></a>
                            <a><i class="fa fa-3x fa-linkedin-square"></i></a>
                            <a><i class="fa fa-3x fa-github-square"></i></a>
                            <a><i class="fa fa-3x fa-envelope-square"></i></a>
                        </div>
                    </section>
                </div>
                <svg id="clouds" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewbox="0 0 100 100" preserveaspectratio="none">
                    <path d="M-5 100 Q 0 20 5 100 Z
            M0 100 Q 5 0 10 100
            M5 100 Q 10 30 15 100
            M10 100 Q 15 10 20 100
            M15 100 Q 20 30 25 100
            M20 100 Q 25 -10 30 100
            M25 100 Q 30 10 35 100
            M30 100 Q 35 30 40 100
            M35 100 Q 40 10 45 100
            M40 100 Q 45 50 50 100
            M45 100 Q 50 20 55 100
            M50 100 Q 55 40 60 100
            M55 100 Q 60 60 65 100
            M60 100 Q 65 50 70 100
            M65 100 Q 70 20 75 100
            M70 100 Q 75 45 80 100
            M75 100 Q 80 30 85 100
            M80 100 Q 85 20 90 100
            M85 100 Q 90 50 95 100
            M90 100 Q 95 25 100 100
            M95 100 Q 100 15 105 100 Z"></path>
                </svg>
            </div>
            <section class="footer">
                <div style="height: 240px;background: url('img/mcp.png') no-repeat center">
                    <div style="padding-top: 10px"></div>
                </div>
            </section>
        </div>

    </div>
    <div class="pt-page pt-page-2">
        <iframe src="http://localhost:2368/"></iframe>
    </div>
</div>

   <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
   <script type="text/javascript" src="app/transitions.js"></script>

   <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
   <script type="text/javascript" src="../node_modules/angular-resource/angular-resource.js"></script>
   <script type="text/javascript" src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="../node_modules/angular-translate/dist/angular-translate.js"></script>
	<script type="text/javascript" src="../node_modules/@iamadamjowett/angular-click-outside/clickoutside.directive.js"></script>
	<script type="text/javascript" src="../node_modules/angular-scroll/angular-scroll.js"></script>

	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/dribbble-shots.js"></script>
	<script type="text/javascript" src="app/controller.js"></script>
</body>
</html>